.random-word-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.random-word-textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.random-word-placeholder {
  font-size: 50px;
  color: #666;
}
